<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <environments default="dev">
    
    <environment id="dev">
     <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://dbserver:3306/db?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true"/>
        <property name="username" value="username"/>
        <property name="password" value="password"/>
        <property name="poolPingQuery" value="SELECT 1 FROM DUAL" />
		<property name="poolPingEnabled" value="true" />
      </dataSource>
    </environment>
    
  </environments>
  
  <mappers>
  	<mapper resource="org/ansj/library/dao/mapper/AmbiguitySentenceMapper.xml"/>
  	<mapper resource="org/ansj/library/dao/mapper/AmbiguitySentenceWordMapper.xml"/>
  	<mapper resource="org/ansj/library/dao/mapper/DictConfigMapper.xml"/>
  	<mapper resource="org/ansj/library/dao/mapper/UserWordMapper.xml"/>
  	<mapper resource="org/ansj/library/dao/mapper/UserLibraryMapper.xml"/>
  </mappers>
  
</configuration>